.section1{
    height: 90vh;
    border: 4px solid black;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    background-color: fuchsia;
    height: 150px;
    width: 300px;
}

.box2{
    background-color:blue;
    height: 150px;
    width: 300px;
}

.section2{
    height: 90vh;
    border: 4px solid black;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.box3{
    background-color: fuchsia;
    height: 150px;
    width: 300px;
}

.box4{
    background-color:blue;
    height: 150px;
    width: 300px;
}

.section3{
    height: 90vh;
    border: 4px solid black;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.box5{
    background-color: brown;
    height: 150px;
    width: 300px;
}

.box6{
    background-color: grey;
    height: 150px;
    width: 300px;
}

.box7{
    background-color: yellow;
    height: 150px;
    width: 300px;
}

.section4{
    height: 90vh;
    border: 4px solid black;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.box8{
    background-color: greenyellow;
    height: 150px;
    width: 300px;
}

.box9{
    background-color: black;
    height: 150px;
    width: 300px;
}

.box10{
    background-color: red;
    height: 150px;
    width: 300px;
}

.section5{
    height: 90vh;
    border: 4px solid black;
    margin-bottom: 20px;
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
}

.box11{
    background-color: cyan;
    height: 150px;
    width: 300px;
}

.box12{
    background-color: purple;
    height: 150px;
    width: 300px;
}

.box13{
    background-color: pink;
    height: 150px;
    width: 300px;
}